@page
@model TheUltimateGamingPlatform.Web.Pages.Shop.WishListModel

<div class="container">
    <h1 class="mt-3">Список желаемого: </h1>
    <div class="row row-cols-4 gap-3 mt-4">
        @if (Model.Games is null || Model.Games.Count == 0)
        {
            <h1>Нет пока игр в списке желаемого</h1>
        }
        else
        {
            @foreach (var game in Model.Games)
            {
                <div class="card" style="width: 18rem;">
                    <img src="@game.PreviewImg" class="card-img-top" alt="@game.Title">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                    </div>
                </div>
            }
        }
    </div>
</div>